td, th {
    border: 1px solid #ddd;
}

.hide {
    display: none;
}

.show {

}

.pagination span {
    margin: 0 8px;
}

.pagination span.active {
    font-weight: bold;
    color: blue;
}

.pagination span:hover {
    color: darkblue;
    text-decoration: underline;
}


svg {
    width: 800px;
    height: 400px;
}

svg path, line {
    fill: none;
    stroke: black;
    width: 1px;
}

svg text {
    font: 8px Verdana;
}